@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <a href="authentication/profile">Hello, @context.User.Identity?.Name!</a>
        <button class="buttonstyle" @onclick="BeginSignOut"><img src="/images/Logout.png" alt="Logout"></button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/register">Register</a>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

<style>
    .buttonstyle {
        border: thin;
        background-color: transparent;
        padding-left: 15px;
        
        
    }
    .buttonstyle:focus{
        outline:none
    }

</style>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
