@inherits LayoutComponentBase

<div class="top-row px-4 auth">
    <LoginDisplay />
    <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
</div>

<AuthorizeView>

    <Authorized>
        <div class="page">

        <div class="sidebar">
            <NavMenu />
        </div>
        <main>
        <article class="content px-4">
            @Body
        </article>
        </main>
        </div>
    </Authorized>

    <NotAuthorized>


        <article class="content px-4">
            @Body
        </article>
    </NotAuthorized>

</AuthorizeView>

